@import "@assets/scss/main.scss";
.header {
   padding-top: 190px;
   padding-bottom: 100px;
   height: 100vh;
   background: $primary-card-ng-color;
   &-container {
      @extend %containerMaxWidth;
   }

   &-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
   }

   &-heading {
      font-weight: 700;
      font-size: 5.8rem;
      line-height: 1.1;
      color: $primary-text-color;
   }

   &-desc {
      font-family: "Manrope";
      font-size: 1.8rem;
      line-height: 1.67;
      margin-top: 20px;
   }

   &-action {
      margin-top: 30px;
      min-width: 181px;
      height: 60px;
      line-height: 60px;
      border-radius: 7px;
      font-family: "Manrope";
      font-weight: 600;
      font-size: 1.8rem;
      text-align: center;
      background: $primary-bg-color;
      color: #fff;
   }

   &-image {
      max-width: 528px;
      max-height: 528px;
      border-radius: 10px;
      overflow: hidden;
      margin-left: auto;
   }

   &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}
