.mini-cart {
   position: absolute;
   top: 40px;
   right: 0;
   width: 400px;
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   z-index: 1000;
   padding: 20px;
   color: #000;
   height: 700px;
   overflow-y: auto;
}

.mini-cart__header {
   display: flex;
   justify-content: space-between;
   gap: 10px;
   &__img {
      width: 80px;
      height: 80px;
      object-fit: cover;
   }
   &__title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      &-name {
         font-size: 1.4rem;
         margin-bottom: 5px;
         color: #333;
      }
   }

   &__close {
      cursor: pointer;
      width: 20px;
      height: 20px;
      color: #888;
      color: #333;
      &:hover {
         color: #ff0000;
      }
   }

   & + .mini-cart__header {
      margin-top: 20px;
   }
}

.mini-cart__total {
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
   font-size: 1.6rem;
   font-weight: bold;
   color: #333;
}

.mini-cart__checkout {
   display: flex;
   justify-content: center;
   margin-top: 20px;
   padding: 10px 20px;
   background-color: #007bff;
   color: #fff;
   border-radius: 5px;
   text-align: center;
   cursor: pointer;
   font-size: 1.4rem;
   &:hover {
      background-color: #0056b3;
   }
}
