@import "@assets/scss/main.scss";

.category {
   margin-top: 150px;

   &-container {
      @extend %containerMaxWidth;
   }

   &-tabs-container {
      position: relative;
      width: fit-content;
      margin: 0 auto;
   }

   &-list {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
      position: relative;
   }

   &-item {
      padding: 10px 35px;
      cursor: pointer;
      font-family: "Manrope";
      font-size: 1.8rem;
      line-height: 1.67;
      color: #566363;
      position: relative;
      transition: color 0.3s ease;

      &.active {
         color: #131717;
         font-weight: 500;
      }
   }

   &-slider {
      position: absolute;
      bottom: -2px;
      height: 2px;
      background-color: #131717;
      transition: all 0.3s ease;
      width: 30px;
   }

   &-products {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin-top: 70px;
      gap: 30px;
   }
}

.category-products-item {
   &__image {
      max-width: 270px;
      height: 210px;
      border-radius: 5px;
      overflow: hidden;
   }

   &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   &__title {
      font-family: "Manrope";
      font-weight: 700;
      font-size: 2rem;
      line-height: 1.5;
      text-align: center;
      margin-top: 18px;
      color: #131717;
   }
}
