@import "@assets/scss/main.scss";

.section {
   background: $primary-card-ng-color;
   padding-top: 200px;
   padding-bottom: 70px;
   min-height: 100vh;

   @include breakpoint(large) {
      padding: 40px 40px 40px;
   }
}

.slider-container {
   position: relative;
   overflow: hidden;
}
