@import "@assets/scss/main.scss";
.slider-controls {
   @include flexItemCenter();
   justify-content: center;
   margin-top: 30px;
}

.slider-arrow {
   background: $primary-bg-color;
   color: white;
   border: none;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   font-size: 1.8rem;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   transition: background-color 0.3s ease;

   &:hover {
      background-color: darken($primary-bg-color, 10%);
   }
}

.slider-dots {
   display: flex;
   justify-content: center;
   margin: 0 20px;
}

.slider-dot {
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background-color: #ccc;
   margin: 0 5px;
   border: none;
   cursor: pointer;
   transition: background-color 0.3s ease;

   &.active {
      background-color: $primary-bg-color;
   }

   &:hover {
      background-color: darken(#ccc, 10%);
   }
}
