@import "@assets/scss/main.scss";
$itemsPages: 3;
.comments {
   margin-top: 150px;
   &-container {
      @extend %container;
   }
   &-heading {
      font-weight: 700;
      font-size: 4.2rem;
      line-height: 1.1;
      text-align: center;
      width: fit-content;
      max-width: 670px;
      margin: 0 auto;
   }
}

.comments-content {
   margin-top: 58px;
   overflow: hidden; // Cần thiết để ẩn nội dung ngoài vùng nhìn thấy được
}

.comments-content__item {
   font-family: "Manrope";
   flex: 0 0 calc(100% / $itemsPages); // Mỗi item chiếm 1/3 chiều rộng của container
   padding: 0 10px;
   transition: opacity 0.3s ease;
}

.comments-content__heading {
   font-weight: 700;
   font-size: 2rem;
   line-height: 1.5;
   margin-top: 20px;
}

.comments-content__desc {
   margin-top: 12px;
   font-size: 1.4rem;
   line-height: 1.7;
}

.comments-content__user {
   margin-top: 28px;
   display: flex;
   align-items: center;
   gap: 10px;
   &-avatar {
      width: 46px;
      height: 46px;
      object-fit: cover;
      border-radius: 50%;
   }

   &-name {
      color: #1e2a39;
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 1.67;
   }

   &-desc {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.67;
      color: #a4a7b0;
   }
}

.slider-wrapper {
   overflow: hidden;
   width: 100%;
}

.slide-track {
   display: flex;
}

.dots {
   margin-top: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   .dot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #dac1ab;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &.active {
         width: 12px;
         height: 12px;
         background-color: #ffa654;
      }
   }
}
