@import "@assets/scss/main.scss";
.explore {
   &__wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
      padding-top: 70px;

      @include breakpoint(medium) {
         grid-template-columns: repeat(2, 1fr);
      }

      @include breakpoint(small) {
         grid-template-columns: 1fr;
      }
   }
}

.explore__card {
   cursor: pointer;
   &--media {
      background: $primary-card-ng-color;
      max-width: 100%;
      max-height: 100%;

   }
   &--image {
      width: 100%;
      height: 180px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
   }

   &--img {
      width: 100%;
      height: 100%;
      object-fit: contain;
   }

   &--title {
      margin-top: 18px;
      font-family: "Manrope";
      font-weight: 700;
      font-size: 2rem;
      line-height: 1.5;
      text-align: center;
   }

   &:hover &--media {
      outline: 2px solid #005d63;
      outline-offset: 10px;
   }

   &:hover &--title {
      color: #005d63;
   }
}
